

<!DOCTYPE html>
<html>
  <head>
    <title>Subjects and Grades</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <h1>Grades Calculator</h1>
    <table>
      <tr>
        <th>Subject</th>
        <th>Grade</th>
        <th>Units</th>
      </tr> 
      <% for(let subject of subjects) { %>
        <tr>
          <td><%= subject.name %></td>
          <td><%= subject.grade %></td>
          <td><%= subject.units %></td>
        </tr>
      <% } %>
    </table>
    <form action="/add-subject" method="post">
      <label>
        Subject:
        <input type="text" id="subject" name="name" oninput="checkInput()" required >
      </label>
      <label>
        Grade:
        <input type="number" min="0" max="100" step="1" id="grades" name="grade" oninput="checkInput()" required>
      </label>
      <label>
        Units:
        <input type="number" min="1" max="15" step="1" id="units" name="units" oninput="">
      </label>
      <button type="submit">Add Subject</button>
    </form>

    <form action="/calculator" method="post">
      <button type="submit">calculator</button>
    </form>
    <script type="text/javascript" src="script.js"></script>
  </body>
</html>
