<!DOCTYPE html>
<html>
  <head>
    <title>Grades Calculator</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <h1>Grades Calculator</h1>
    <h2> Your Average Is <%= avg.toFixed(2) %> </h2>
    <table>
      <thead>
        <tr>
          <th>Subject</th>
          <th>Grade</th>
          <th>Units</th>
        </tr>
      </thead>
      <tbody>
        <% for(let subject of subjects) { %>
          <tr>
            <td><%= subject.name %></td>
            <td><%= subject.grade%></td>
            <td><%= subject.units%></td>

          </tr>
        <% } %>
      </tbody>
    </table>
    <form action="/add-more" method="post">
      <button type="submit">Add more subject</button>
    </form>
    <form action="/new-calculator" method="post">
      <button type="submit">New Calculator</button>
    </form>
  </body>
</html>
